{% extends "leave_tracker/base.html" %}

{% load leave_tracker_tags %}

{% block content %}

{% if user.is_authenticated %}

<h2> Hey {{ current_user.user_display }} Welcome!</h2>
<h3>You have exhausted {{ current_user|leaves_taken }}
out of {{ current_user.total_leaves }} leaves.</h3>
<p>
    <div class="btn-group">
      <a class="btn btn-large" href="{% url 'apply' %}">Request a leave</a>
      <a class="btn btn-large" href="{% url 'personal' %}">View your leaves</a>
      {% if user.is_superuser %}
        <a class="btn btn-large" href="{% url 'all' %}">All the Leaves</a>
      {% endif %}
    </div>
</p>



{% else %}

 <li><a href="{% url 'login' %}">Login</a></li>

{% endif %}<p>


{% if form %}

<form method="POST" action="" data-validate='parsley'>
  {% csrf_token %}
  <table>
    {% for field in form %}
    <div class="fieldWrapper">
      {{ field.errors }}
      <p>{{ field.label_tag }} {{ field }}</p>
    </div>
    {% endfor %}
  </table>
  <input type="submit" value="Apply" class='btn btn-primary'/>
</form>

{% else %}


{% endif %}
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
<script>
  $(function() {
  $( "#id_start_date" ).datepicker();
  $( "#id_end_date" ).datepicker();
  });
</script>

{% endblock content %}
