{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}

<h2> Hey {{ current_user.user_display }} Welcome!</h2>
<h3>You have exhausted {{ current_user.leaves_taken }} 
out of {{ current_user.total_leaves }} leaves.</h3>

{% endif %}<p> 
<p> Click on any of the links in the nav bar! </p>


{% if form %}

<form method="POST" action""> 
  {% csrf_token %}
  <table>
    {% for field in form %}
    <div class="fieldWrapper">
      {{ field.errors }}
      <p>{{ field.label_tag }} {{ field }}</p>
    </div>
    {% endfor %}
  </table>
  <input type="submit" value="Apply" class='btn btn-primary'/>
</form>

{% else %}


{% endif %}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" media="all" /> 
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
<script>
  $(function() {
  $( "#id_start_date" ).datepicker();
  $( "#id_end_date" ).datepicker();
  });
</script>

{% endblock content %}
