{% extends "leave_tracker/base.html" %}

{% block style %}
<style type="text/css">
table {
	width:100%; border: 1px solid black
}
body {         
    position:float;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
</style>
{% endblock style %}

{% block navbar %}
{% endblock navbar %}

{% block content %}

<p style="padding-bottom:20px;">&nbsp;</p>
<table align="center">
	<tr>
		<td style="text-align:center; border: 1px solid black; width:50%">
			<img src="{{ STATIC_URL }}img/agiliq.png" alt="Agiliq" width="220">
		</td>
		<td style="text-align:center; border: 1px solid black; width:50%">
			Agiliq Info Solutions India Pvt Ltd,<br>
			Door # 1-65/2/67/B, Plot # 67,<br>
			Kavuri Hills, Phase 2,<br>
			Hyderabad - 500033. India<br>
		</td>
	</tr>
</table>
<p style="text-align:center; padding-top:10px; padding-bottom:10px; font-weight: bold;">PAYSLIP FOR THE MONTH OF <b>{{ timezone }}</b> </p>

<table align="center">
	<tr>
		<td style="height: 20px; text-align:left; font-weight: bold; width:20%">Employee Name</td>
		<td style="height: 20px; text-align:left; width:25%;">{{user_profile.user.first_name }} {{ user_profile.user.last_name }}</td>
		<td style="height: 20px; text-align:center; font-weight: bold;  width:20%;">Designation</td>
		<td style="height: 20px; text-align:left; width:35%;">{{ user_profile.employee.job_title.title }}</td>
	</tr>
	<tr>
		<td style="height: 20px; text-align:left; font-weight: bold;">Employee Id</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.employee_id }}</td>
		<td style="height: 20px; text-align:center; font-weight: bold;">Address</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.address_1 }}, {{ user_profile.employee.address_2 }}, {{user_profile.employee.country}}, {{user_profile.employee.zipcode}}</td>
	</tr>
	<tr>
		<td style="height: 20px; text-align:left; font-weight: bold;">Date of Joining</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.created_date.date }}</td>
		<td style="height: 20px; text-align:left;"></td>
		<td style="height: 20px; text-align:left;"></td>
	</tr>
	<tr>
		<td style="height: 20px; text-align:left; font-weight: bold;">Bank A/c No.</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.payroll.account_number }}</td>
		<td style="height: 20px; text-align:left;"></td>
		<td style="height: 20px; text-align:left;"></td>
	</tr>
	<tr>
		<td style="height: 20px; text-align:left; font-weight: bold;">PAN No.</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.payroll.pan_number }}</td>
		<td style="height: 20px; text-align:left;"></td>
		<td style="height: 20px; text-align:left;"></td>
	</tr>
	<tr>
		<td style="height: 20px; text-align:left; font-weight: bold;">PF Account No.</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.payroll.pf_number }}</td>
		<td style="height: 20px; text-align:left;"></td>
		<td style="height: 20px; text-align:left;"></td>
	</tr>
</table>

<p style="text-align:center; padding-top:10px; padding-bottom:10px; font-weight: bold;">EMOLUMENTS </p>

<table align="center">
	<tr>
		<td style="height: 20px; text-align:center; font-weight: bold;">GROSS EARNINGS (IN Rs.)</td>
		<td></td>
		<td style="height: 20px; text-align:center; font-weight: bold;">DEDUCTIONS (IN Rs.)</td>
		<td></td>
	</tr>
	<tr>
		<td style="height: 20px; text-align:left; font-weight: bold; width:30%;">Basic</td>
		<td style="height: 20px; text-align:left;width:20%;">{{ user_profile.employee.payroll.basic }}</td>
		<td style="height: 20px; text-align:left; font-weight: bold;width:30%;">Income Tax</td>
		<td style="height: 20px; text-align:left;width:20%;">{{ user_profile.employee.payroll.income_tax }}</td>
	</tr>
	<tr>
		<td style="height: 20px; text-align:left; font-weight: bold;">HRA</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.payroll.hra }}</td>
		<td style="height: 20px; text-align:left; font-weight: bold;">Profession Tax</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.payroll.professional_tax }}</td>
	</tr>
	<tr>
		<td style="height: 20px; text-align:left; font-weight: bold;">Flexible Benefits</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.payroll.flexible_benifits }}</td>
		<td style="height: 20px; text-align:left; font-weight: bold;">PF from Employee</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.payroll.pf_employee }}</td>
	</tr>
	<tr>
		<td style="height: 20px; text-align:left; font-weight: bold;">Net Total</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.payroll.gross_salary }}</td>
		<td style="height: 20px; text-align:left; font-weight: bold;">PF from Employer</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.payroll.pf_employer }}</td>
	</tr>
	<tr>
		<td style="height: 20px; text-align:left; font-weight: bold;">PF from Employee</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.payroll.pf_employee }}</td>
		<td style="height: 20px; text-align:left; font-weight: bold;">Other</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.payroll.other_charges }}</td>
	</tr>
	<tr>
		<td style="height: 20px; text-align:left; font-weight: bold;">PF from Employer</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.payroll.pf_employer }}</td>
		<td style="height: 20px; text-align:left; font-weight: bold;">Net Deductions</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.payroll.get_net_deductions }}</td>
	</tr>
	<tr>
		<td style="height: 20px; text-align:left; font-weight: bold;">Gross</td>
		<td style="height: 20px; text-align:left;">{{ user_profile.employee.payroll.gross_salary }}</td>
		<td style="height: 20px; text-align:left; font-weight: bold;">Net Salary</td>
		<td style="height: 20px; text-align:left; border: 1px solid black;">{{ user_profile.employee.payroll.get_net_salary }}</td>
	</tr>	
</table>

<p style="text-align:center; padding-top:10px; padding-bottom:10px; font-weight: bold;"> TAX DEDUCTION AT SOURCE till date </p>

<table>
	<tr>
		<td style="height: 40px; text-align:center; font-weight: bold; width:50%">IT deducted as on date (in Rs.)</td>
		<td style="height: 40px; text-align:center; width:50%">{{0.0}}</td>
	</tr>
</table>

<p style="text-align:center; padding-top:10px; padding-bottom:10px; font-weight: bold;"> DETAILS OF LEAVES </p>

<!--<table>
	<tr>
		<td style="height: 30px; text-align:center; font-weight: bold; width:50%">No. of working days in current month</td>
		<td style="height: 30px; text-align:center; width:50%">21</td>
	</tr>
	<tr>
		<td style="height: 30px; text-align:center; font-weight: bold;">No. of days worked</td>
		<td style="height: 30px; text-align:center;">19</td>
	</tr>
</table> 
<span style="">&nbsp;</span> -->
<table>
	<tr>
		<td style="height: 30px; text-align:center; font-weight: bold;">Earned Leaves</td>
		<td style="height: 30px; text-align:center; font-weight: bold;">Sick Leaves</td>
		<td style="height: 30px; text-align:center; font-weight: bold;">Comp Offs</td>
		<td style="height: 30px; text-align:center; font-weight: bold;">Leaves used till date</td>
	</tr>
	<tr>
		<td style="height: 30px; text-align:center;">15</td>
		<td style="height: 30px; text-align:center;">07</td>
		<td style="height: 30px; text-align:center;">0</td>
		<td style="height: 30px; text-align:center;">0</td>
	</tr>
</table>
<p style="padding-top:15px;padding-bottom:5px">&nbsp;</p>
{% endblock content %}